*{
    font-family: sans-serif;
}
body {
    display: grid;
    height: 100vh;
    place-items: center;
  }

.wip {
    text-align: center;
    font-size: 72px;
    --bg-size: 400%;
    --color-one: #d7e1e4;
    --color-two: #54b3d6;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: move-bg 25s linear infinite;
}
  
  @media (prefers-reduced-motion: no-preference) {
    @keyframes move-bg {
      to{
        background-position: var(--bg-size) 0;
        }
    }
}

.resume{
    text-align: center;
}
.resume__link {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.resume__link:hover {
    color: #fff;
    box-shadow: inset 400px 0 0 0 #54b3d6;;
}
.resume__link {
    color: #54b3d6;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}
