@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Varela+Round&display=swap');

body {
  background: radial-gradient(circle at top left,
    black 0%,
    #000033 25%,
    #000066 40%,
    #000033 75%,
    black 100%
  );
  color: #d4dcec;
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  background-color: black;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.intro {
  font-size: 70px;
  text-align: left;
}

@keyframes fontSwitch {
  0%, 16.66% {
    font-family: 'Varela Round', sans-serif;
  }
  16.66%, 33.32% {
    font-family: 'Fredoka', sans-serif;
  }
  33.32%, 49.98% {
    font-family: 'Arial Black', sans-serif;
  }
  49.98%, 66.64% {
    font-family: 'Impact', sans-serif;
  }
  66.64%, 83.3% {
    font-family: 'Georgia', serif;
  }
  83.3%, 100% {
    font-family: 'Courier New', monospace;
  }
}

.name {
  font-size: 70px;
  animation: fontSwitch 5s infinite ease-in-out;
  line-height: 1.2;
  width: 100%;
}

.description {
 padding-top: 10px;
}

.dev_image{
  width: 100%;
  padding-left: 0px;
  max-width: 950px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 5%;
  gap: 2rem;
}

.text-container {
  order: 1;
  width: 45%;
}

.image-container {
  order: 2;
  width: 45%; 
}


/* for mobile */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
    justify-content: center;
  }

  .text-container {
    width: 100%;
    order: 1;
  }

  .intro{
    width: 100%;
    padding-top: 0;
  }

  .name {
    font-size: 60px;
    width: 100%;
  }
  .description {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .dev_image{
    display: none;
  }
  
}