@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: black;
    color: rgb(80, 80, 239);
    font-family: 'Varela Round', sans-serif;
}

.hi-text{
    /* physically make the div this big for arrow key */
    height: 80vh;
    
    text-align: center;
    /* aligns the text vertically */
    line-height: 80vh;
    
    font-weight: bold;
    font-size: 100px;
    animation: hi-animate 1s;

}

.test{
    height: 100vh;
}

.scroll-element{
    height: 20vh;
    text-align: center;
}
.animate-scroll{
    opacity: 0;
    height: 50px;
    width: 100px;
    animation: appear 2s 2s forwards, up-down 2s infinite;
}

.hide{
    animation: disappear 2s forwards;
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }

}

@keyframes disappear{
    0%{
        opacity: 1;
        transform: translateY(0%);
    }
    100%{
        opacity: 0;
        transform: translateY(100%);
    }

}

@keyframes up-down{
    0%{
        transform: translateY(10%);
    }
    50%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(10%);
    }
}

@keyframes hi-animate{
    0%{
        opacity: 0;
        transform: scale(50%);
    }
    100%{
        opacity: 1;
        transform: scale(100%);
    }
}