@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Varela+Round&display=swap');

body {
  background: radial-gradient(circle at top left,
    black 0%,
    #000033 25%,
    #000066 40%,
    #000033 75%,
    black 100%
  );
  background-color: black;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  color: #d4dcec;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
}

.intro {
  font-size: 70px;
  text-align: left;
  padding-top: 35vh;
}

@keyframes fontSwitch {
  0%, 16.66% {
    font-family: 'Varela Round', sans-serif;
  }
  16.66%, 33.32% {
    font-family: 'Fredoka', sans-serif;
  }
  33.32%, 49.98% {
    font-family: 'Arial Black', sans-serif;
  }
  49.98%, 66.64% {
    font-family: 'Impact', sans-serif;
  }
  66.64%, 83.3% {
    font-family: 'Georgia', serif;
  }
  83.3%, 100% {
    font-family: 'Courier New', monospace;
  }
}

.name {
  font-size: 70px;
  animation: fontSwitch 5s infinite ease-in-out;
  line-height: 1.2;
  width: 40%;
}

.description {
 padding-top: 10px;
}

.dev_image{
  border-radius: 1000px;
  width:50%;
}

@media screen and (max-width: 600px) {
  .intro{
    width: 100%;
    padding-top: 20vh;
  }

  .name {
    width: 105%;
  }
  .description {
    padding-top: 10px;
    padding-bottom: 1000px;
  }
  .dev_image{
    display: none;
  }
  
}